body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;

}

button,  .view-score {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 24px;

}
.view-score:hover{
    color:  #BD60E7;
    background: none;;
}

.question-box {
    width: 800px;
}

.answer-response {
    color: gray;
    font-style: italic;
    font-size: 30px;
}

.reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
}

.win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

button {
    background: #361C75;
    border-radius: 8px;
    color: #fdfeff;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    width: auto;   
    padding: 20px;
    text-align: left;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    border: 0px;
}

button:hover{
    background: #BD60E7;
}

.display-none{
    display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
}

.word-guess {
    width: 55vw;
    height: 400px;
}

.results {
    width: 30vw;
    height: 400px;
}

.card {
    background: radial-gradient(circle, rgba(240, 230, 140, 1) 0%, rgba(187, 124, 33, 0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
}

.word-blanks {
    line-height: 360px;
}

.large-font {
    font-size: 3.5em;
    text-align: center;
}

.normal-font {
    font-size: 28px;
   
}


.timer-text {
    float: right;
    position: relative;
    margin-right: 20px;
    font-size: 25px;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 1183px) {
    main {
        flex-direction: column;
    }

    .word-guess,
    .results {
        width: 90vw;
    }

    section {
        background-color: white;
        margin: 20px auto;
        width: 92vw;
    }
}

@media screen and (max-width: 504px) {
    .large-font {
        font-size: 2em;
    }

    .reset-button {
        font-size: 12px;
        width: 20ox;

    }

    .timer {
        height: 200px;
    }
}